<div class="user-data">
    <div class="profile">
        <mat-card class="example-card" (click)="showData('profile')">
            <mat-card-header class="title justify-content-center">
                <mat-card-title>User Profile</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <p>
                    To see user details like name, address, contact details.
                </p>
                <span>Click Here</span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="account">
        <mat-card class="example-card" (click)="showData('account')">
            <mat-card-header class="title justify-content-center">
                <mat-card-title>Account Details</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <p>
                    To see Account details like account number, branch name, joining date, balance
                </p>
                <span>Click Here</span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="transaction">
        <mat-card class="example-card" (click)="showData('transaction')">
            <mat-card-header class="title justify-content-center">
                <mat-card-title>Transaction History</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <p>
                    To see Transaction history.
                </p>
                <span>Click Here</span>
            </mat-card-content>
        </mat-card>
    </div>
</div>