.contain {
    height: 100vh;
    background-image: url("../assets/imgs/bank_building.jpg");
    background-size: cover;
    background-position: center;

    .fill-remaining-space {
        flex: 1 1 auto;
    }
}
